/**
*   Tags
*   id
*   class
*
*   All in alphabetic order
*/

body {
    padding: 0px;
    margin: auto;
}

h1, h2, h3 {
    text-align: center;
}

ul li {
    margin-bottom: 5px;
}

.container {
    display: flex;
}

.controls {
    padding: 5px;
    border-bottom: solid 1px black;
}

.hidden {
    display: none;
}

.laboratory {
    max-width: 1200px;
}

.leftPanel {
    min-width: 250px;
    max-width: 580px;
    float: left;
    padding-right: 5px;
}

.petriplate {
    float: right;
}

.sample {
    border-bottom: solid 1px black;
}

.sample h3:hover{
    cursor: pointer;
    color: red;
}

.sample-table img {
    max-width: 250px;

}