/**
*   Tags
*   id
*   class
*
*   All in alphabetic order
*/

body {
    padding: 0px;
    margin: auto;
}

button {
    width: 80px;
    height: 40px;
}

h1, h2, h3 {
    text-align: center;
    margin: 0 0 5px 0;
}

.range {
    width: 100%;
}

.range input{
    width: 50%;
}

ul li {
    margin-bottom: 10px;
}

.container {
    display: flex;
}

.controls {
    padding: 5px;
    border-bottom: solid 1px black;
}

.hidden {
    display: none;
}

.laboratory {
    max-width: 1200px;
}

.leftPanel {
    min-width: 250px;
    max-width: 580px;
    max-height: 600px;
    float: left;
    padding: 0px 5px;
    overflow: scroll;
}

.sample {
    border-bottom: solid 1px black;
    text-align: center;
}

.sample h3:hover{
    cursor: pointer;
    color: red;
}

.sample-table img {
    max-width: 250px;
}

.rightPanel {
    width: 600px;
    float: right;
}